<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Crazy eight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FDEE72E1FB0A8A300874824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FDEE7481FB0A8A400874824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FDEE7531FB0A8A500874824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
